<a href="https://colab.research.google.com/github/jufabeck2202/KI-Lab/blob/main/%5BKI_Lab2021%5D_Assignmanet_5_OWCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 5: 
Text Preparation:
1. We use the same dataset from last time: https://github.com/tblock/10kGNAD.
2. Download the files train.csv and test.csv
3.Filter both files to include only lines that fulfill both of the following conditions:
    1. The line is of the category „Wirtschaft“ or „Sport“.
    2. The line only contains valid characters (note that ‘\‘ is a line break in Python):
4. The number of valid lines for training and test should be 2154 and 244.

5. Divide the valid training data lines into tokens using SpaCy.

---------------------------------------------

6. Determine the 5000 most common tokens in the training data.
7. For those tokens, create the word_to_ix dictionary as shown in the tutorial.
8. Train a language classification model using the two categories and the sentences using an LSTM model

9. Use the same architecture as in the tutorial but an embedding dim of 128 and a hidden dim of 256.
10. In one training loop go through every line of the training data and update the weights after every line (like in the tutorial).
11. For every line, transform the words according to the word_to_ix dictionary and feed it to the LSTM as one sequence. Note: Skip words that are not in word_to_ix (they are not part of the 5000 most common tokens.)
12. Do this for 5 epochs and print the accuracy on the test data after every epoch.
13. Note: Since we do not train in batches, but line per line, this will take quite a while (~ 15 minutes for one training loop).

#Bonus
14. The training is quite slow, since we do not train in batches but line by line. Providing the text lines in batches to the LSTM, will not work out of the box, because all tensors in one batch need to have the same length.
15. The DataLoader class can be created with a collate_fn function that can be used to bring all lines in one batch to the same size:
16. Determine the longest tensor in the current batch.
17. Fill up all tensors that are shorter with an unused padding value (e.g. -1).
18. Task: Put the data into a DataLoader, pad the lines in one batch to the same length and train in batches on the GPU. Compare the training time to the line-wise training.

#Import

In [30]:
!pip install -U spacy[cuda100] de &> /dev/null
!python -m spacy download de &> /dev/null
!pip install -q "tqdm>=4.36.1" &> /dev/null

In [31]:
import pandas as pd
import torch
import spacy
spacy.prefer_gpu()
nlp_ger = spacy.load("de")
from tqdm import tqdm
import string
import torch
import torch.nn as nn
import random
import time
import math
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from tabulate import tabulate

device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
print(device)

cuda:0

# Import files

In [32]:
df_test = pd.read_csv('https://raw.githubusercontent.com/tblock/10kGNAD/master/test.csv', \
                      names=['trash','category','Data'], sep='^([^;]+);', engine="python")
df_test = df_test.drop(columns=['trash'])
df_test

           category                                               Data
0        Wirtschaft  'Die Gewerkschaft GPA-djp lanciert den "All-in...
1             Sport  Franzosen verteidigen 2:1-Führung – Kritische ...
2               Web  'Neues Video von Designern macht im Netz die R...
3             Sport  23-jähriger Brasilianer muss vier Spiele pausi...
4     International  Aufständische verwendeten Chemikalie bei Gefec...
...             ...                                                ...
1023            Web  Programm "Ebay Plus" soll Ende September start...
1024         Inland  Fehlerhafte Bilanz 2013, Partei will berufen –...
1025          Sport  Als erster Olympia-Champion auch Hawaii-Sieger...
1026          Sport  Der Außenseiter aus Denver gewinnt die 50. Sup...
1027            Web  Wohl keine Einschränkungen bei Google-Services...

[1028 rows x 2 columns]

In [33]:
df_train = pd.read_csv('https://raw.githubusercontent.com/tblock/10kGNAD/master/train.csv', \
                      names=['trash','category','Data'], sep='^([^;]+);', engine="python")
df_train = df_train.drop(columns=['trash'])

df_train

           category                                               Data
0             Sport  21-Jähriger fällt wohl bis Saisonende aus. Wie...
1            Kultur  'Erfundene Bilder zu Filmen, die als verloren ...
2               Web  Der frischgekürte CEO Sundar Pichai setzt auf ...
3        Wirtschaft  Putin: "Einigung, dass wir Menge auf Niveau vo...
4            Inland  Estland sieht den künftigen österreichischen P...
...             ...                                                ...
9240         Inland  Bernd Saurer war Bridge-Juniorenweltmeister un...
9241  International  Sandhere soll in vergangener Woche bei Luftang...
9242     Wirtschaft  Derzeit Konzeptgruppe in Berlin – Kein Komment...
9243         Inland  Landeshauptmann will den vierten Regierungssit...
9244       Panorama  Er ist einer von Millionen syrischen Flüchtlin...

[9245 rows x 2 columns]

In [34]:
#filter:
df_test = df_test.loc[(df_test["category"]=="Wirtschaft") | (df_test["category"]=="Sport")]
df_train = df_train.loc[(df_train["category"]=="Wirtschaft") | (df_train["category"]=="Sport")]

print(len(df_test))
print(len(df_train))

261
2351

In [35]:
rows_test = []
for index, row in tqdm(df_test.iterrows(), total=df_test.shape[0], position=0, leave=True):
    rows_test.append(row.Data)

rows_train = []
for index, row in tqdm(df_train.iterrows(), total=df_train.shape[0], position=0, leave=True):
    rows_train.append(row.Data)

100%|██████████| 261/261 [00:00<00:00, 11091.99it/s]
100%|██████████| 2351/2351 [00:00<00:00, 11890.76it/s]

In [38]:
all_letters = string.ascii_letters + 'ÄÖÜäöüß–' + string.punctuation + \
                string.digits + string.whitespace

rows_test_1 = [line for line in rows_test if all(ch in list(all_letters) for ch in line)]
print(len(rows_test_1))

rows_train_1 = [line for line in rows_train if all(ch in list(all_letters) for ch in line)]
print(len(rows_train_1))

261
244
2351
2154

In [ ]:
rows_train_token = []
for sentence in tqdm(rows_train_1, position=0, leave=True):
    for word in sentence.split(" "):
        token = nlp_ger(word)
        rows_train_token.append(token)

  1%|          | 14/2154 [00:47<2:07:33,  3.58s/it]